.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

@media (min-width: 768px) {
  .section {
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  }
}

.section::-webkit-scrollbar {
  display: none;
}
